/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    // User file input
    reference = false
    paired_samplesheet = false
    paired_path = false
    single_samplesheet = false
    single_path = false
    outdir = false

    // Resource allocation
    cpus = 2
    memory_gb = 8

    // Containers used for execution
    container__star = "quay.io/biocontainers/star:2.7.10a--h9ee0642_0"
}